*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:url("../images/bakery-bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
    color:white;
}

.container{
    width:100%;
    padding:20px;
}

h1{
    font-size:4rem;
    text-shadow:0 0 15px white;
}

.score-box{
    width:250px;
    margin:15px auto;
    padding:15px;
    border-radius:20px;
    background:white;
    color:black;
    font-size:2rem;
    font-weight:bold;
}

.order-box{
    width:600px;
    max-width:90%;
    margin:20px auto;
    padding:25px;
    border-radius:25px;
    background:white;
    color:black;
}

/* CAKE AREA */

.cake-display{

    position:relative;

    width:1000px;

    height:700px;

    margin:auto;
}

/* BIG CAKE */

.cake-base{

    width:650px;

    position:absolute;

    left:50%;

    bottom:0;

    transform:translateX(-50%);

    z-index:1;
}

/* CREAM */

#cream-layer{

    position:absolute;

    left:50%;

    top:180px;

    transform:translateX(-50%);

    z-index:5;
}

#cream-layer img{

    width:280px;
}

/* TOPPINGS */

#topping-layer{

    position:absolute;

    left:50%;

    top:210px;

    transform:translateX(-50%);

    width:280px;

    height:120px;

    z-index:10;
}

#topping-layer img{

    width:70px;

    position:absolute;
}

/* INGREDIENTS */

.ingredients{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

    margin:20px 0;
}

.ingredient{

    width:120px;

    cursor:pointer;

    transition:.3s;
}

.ingredient:hover{

    transform:scale(1.15);
}

.section-title{

    font-size:2rem;

    margin-top:20px;
}

/* BUTTONS */

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:20px;
}

.serve-btn,
.reset-btn{

    border:none;

    padding:15px 35px;

    border-radius:15px;

    font-size:1.2rem;

    color:white;

    cursor:pointer;
}

.serve-btn{
    background:#22c55e;
}

.reset-btn{
    background:#ef4444;
}

.falling-topping{

    animation:fallDown .6s ease;
}

@keyframes fallDown{

    from{
        opacity:0;
        transform:translateY(-150px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}